.container .filter {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.filter button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
}

.filter button:hover {
    opacity: 0.9;
}

.filter .locations, .filter .amenities {
    height: 100%;
    width: 25%;
    z-index: 4;
}

.filter .locations {
    border-right: solid #ddd 1px;
}

.filter .locations h3, .filter .amenities h3 {
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: -0.9rem;
    margin-left: 2.5rem;
}

.filter .locations h4, .filter .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 2.5rem;
}

.locations ul.popover, .amenities ul.popover {
    background: orange;
    display: none;
    margin-top: -0.4rem;
    background: #fafafa;
    border: #ddd 1px solid;
    border-radius: 4px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.locations ul.popover h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: -2.5rem;
    margin-bottom: 0.5rem;
}

.locations ul.popover li {
    margin-left: -1.5rem;
    margin-bottom: 0.5rem;

}

.amenities ul.popover li {
    margin-bottom: 0.5rem;
}

.locations:hover .popover, .amenities:hover .popover {
    display: block;
}

@media only screen and (max-width: 610px) {
    .container .filter {
        background-color: #fff;
        height: 55px;
        width: 95%;
        margin: auto;
    }
    .filter button {
        font-size: 10px;
        height: 28px;
        width: 20%;
    }
    .filter .locations h3, .filter .amenities h3 {
        font-size: 13px;
        margin-left: 1.3rem;
        margin-top: 0.5rem;
    }
    .filter .locations h4, .filter .amenities h4 {
        font-size: 11px;
        margin-left: 1.3rem;
    }
}