.places h1 {
    font-size: 30px;
}

.places .places-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.places-articles article  {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
}

.places-articles article h2 {
    font-size: 30px;
}